body {
    font-family: 'Poppins', sans-serif;
    color: #010c26;
    margin: 0;
}

.login-card {
    display: flex;
    border: 0px #f6bd60 solid;
    height: 900px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url("bg.jpg");
    background-size: cover;
}

.splash-img {
    width: 45%;
    object-fit: cover;
    border: 2px solid black;
    margin: 20px;    
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-left {
    margin: 80px;     
    width: 400px;
    height: 350px;    
    background-image: url("https://i.giphy.com/media/L1ge3nIyrXt6/giphy.webp");
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login-right {
    margin: 80px;    
    width: 400px;
    height: 350px;
    background: linear-gradient(#f3dbb6, #f7ede2EE);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

h1 {
    text-align: center;
    font-weight: bold;
}


input {
    margin: 10px;
    padding: 10px;
    width: 80% ;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f6bd60;
    background-color: #f6dcd3;
    font-family: inherit;
    font-weight: bold;
}

button {
    margin: 10px;
    padding: 10px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #84a59d;
    background-color: #84a59d;
    font-family: inherit;
    font-weight: bold;
}

button:hover {
    background: #5b7971;  
}

#terms {
    text-align: center;
}